---
import Fiber from '@/components/game/Fiber.tsx'
import Loader from '@/components/ui/Loader.tsx'
import LoaderAction from '@/components/ui/LoaderAction.tsx'
import LoaderContent from '@/components/ui/LoaderContent.astro'
import LoaderHeader from '@/components/ui/LoaderHeader.astro'
import SideMenu from '@/components/ui/SideMenu.tsx'
import SideMenuLink from '@/components/ui/SideMenuLink.astro'
import Tutorial from '@/components/ui/Tutorial.astro'
import TutorialInstruction from '@/components/ui/TutorialInstruction.tsx'
import Layout from '@/layouts/Layout.astro'
import '@/styles/globals.css'
---

<Layout>
    <main style="height: 100vh">
        <Fiber client:load />

        <Tutorial>
            <TutorialInstruction index={1} client:load>Move around by right clicking.</TutorialInstruction>
            <TutorialInstruction index={2} client:load>Enter the circle to begin the interactive experience.</TutorialInstruction>
            <TutorialInstruction index={3} client:load>Explore the surroundings by clicking and holding the left button.</TutorialInstruction>
        </Tutorial>

        <Loader client:load>
            <LoaderHeader>
                <Fragment slot="title">Mathis Engels</Fragment>
                <Fragment slot="description">Freelance Fullstack Dev</Fragment>
            </LoaderHeader>
            <LoaderContent>
                <h3 class="font-normal text-2xl md:text-4xl">Hi!</h3>
                <p>I'm Mathis, a freelance fullstack developer passionate about building engaging and enjoyable digital experiences. </p>
                <p>Step onto my path, explore my capabilities, and discover the value my services can bring to your projects.</p>
            </LoaderContent>
            <LoaderAction client:load>Explore my path</LoaderAction>
        </Loader>

        <SideMenu title="Mathis Engels" description="Freelance Fullstack Dev" client:load>
            <ul class="space-y-4">
                <SideMenuLink href="/" title="Portfolio" />
                <SideMenuLink href="/about" title="About" />
                <SideMenuLink href="/projects" title="Projects" />
                <SideMenuLink href="/resume" title="Resume" />
                <SideMenuLink href="/contact" title="Contact" />
                <SideMenuLink href="/legal" title="Legal" />
            </ul>
        </SideMenu>
    </main>
</Layout>
