---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro'
import Fiber from '@/components/Fiber'
---

<Layout>
    <main style="height: 100vh">
        <Fiber client:load />
    </main>
</Layout>
